#glitchy {
  font: bold 18px 'Helvetica', 'Arial', sans-serif;
  .restart {
    color: yellow;
    opacity: 0.3;
    z-index: 2;
    width: 100px;
    font-size: 14px;
    position: absolute;
    top: 28px;
    right: -15px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }  
}

#glitchyCanvas {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
}