#gridWriter {
  width: 75%;
  margin: 0 auto;
	transform:translateY(40%);
  #ransomHolder {
    margin: 0px;
    #ransomChar {
      display:inline;
      font-family: monospace;
      white-space: pre;  
      font-size: 2em;
      color: white;
    }
  }
}


