.header {
  width: 100%;
  height: 25px;
  position: fixed;
  background: #afafaf;
  opacity: 0.3;
  z-index: 2;
  nav {
    padding: 5px;
    cursor: pointer !important;
  }
}

.pidgeon-icon {
	background:url('pigeon.svg') no-repeat center;
	height: 25px !important;
  width: 45px; 
	background-size: 28px;
  float: left;
}

#creationMyth {
  // cursor: none;
}

canvas {
  top: 100px;
}

#album {
  position: absolute;
  top: 100px;
  left: 150px;
  border: 1px solid black;
  z-index: 1;
}

#layer2 {
  position: absolute;
  right: -400px;
  z-index: 10;
}

#layer3 {
  position: absolute;
  right: -400px;
  z-index: 10;
}
#layer4 {
  position: absolute;
  right: -400px;
  z-index: 10;
}

#layer5 {
  position: absolute;
  right: -400px;
  z-index: 2;
}

#layer6 {
  position: absolute;
  right: -400px;
  z-index: 10;
}

iframe {
  display: none;
}

.hymn {
  position: absolute;
  top: 200px;
  left: 800px;
  max-width: 350px;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.title {
  text-decoration: underline;
  font-size: 22px;
}

.lyric {
  max-width: 350px;
  margin: 20px 60px;
  font-size: 18px;
  font-family: arial;
}

.sing {
  opacity: 1
}