body {
  background: black;
  &.no-flow {
    overflow: hidden;  
  }
}

#headerDash {
  width: 100%;
  height: 25px;
  position: fixed;
  background: #afafaf;
  opacity: 0.4;
  z-index: 2;
  transition:.5s;
  &:hover {
    opacity: 1;
  }
  nav {
    padding: 5px;
    cursor: pointer !important;
    .nav-item {
      font-family: monospace;
      float: left;
      color: white;
      padding: 0 20px;
      transition:.5s;
      &:hover {
        color: yellow;
      }
      &.pidgeon-icon {
        background: url(pigeon.svg) no-repeat center;
        height: 30px !important;
        width: 45px;
        background-size: 28px;
        float: left;
        margin-top: -3px;
      }
    }
  }
}

#creationMyth, #flight {
  cursor: none;
}
