/*
text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
order
 All - (glow down in 2 sec, flicker 8 sec)
 dark - 1 sec
 silence-2 (glow in 2 sec, wait 2 sec)
 violence1 (wait 3)
 violins-1 (wait 3)
 silence-1 (wait 3)
 violence-2 (wait 3)
 violins-2 (wait 3)
*/

.wrapper {
    position:relative;
    height: 530px;
    width: 480px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;   
    //make this take an color an mixin function
    .txt {
      &.glow {
        animation: glowIn 10s infinite alternate;
        // color: yellow !important;
      }
    }
  .neon-wrapper {
    position: absolute;
    display:inline-flex;
    filter: brightness(100%);
    // overflow: hidden; //cause overlap
    .txt {
      //for gradient
      // color: #ffffff;
      // background: #fffff
      // text-shadow: 0 0 0 transparent, 0 0 2px #ff003c, 0 0 5px rgba(255, 0, 60, 0.5), 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 100px #ff003c, 0 0 150px #ff003c;
      color: white; //default;
      font-size: 80px;
      font-weight: bold;
      font-family: Arial;
      text-transform: uppercase;
      letter-spacing: -5px;
    }
    .txt::before {
      text-shadow: none;
      position: absolute;
      mix-blend-mode: difference;
      filter: blur(3px);
    }
    
    &.violins {
      bottom: 34%;
      .txt::before {
        content: 'violins';
      }
      &.violins-1 {
      left: -50px;
      transform: rotate(285deg);
        .txt {
          color: red;
        }
      }
      &.violins-2 {
      right: -50px;
      transform: scaleX(-1) rotate(280deg);
        .txt {
          color: orange;
        }
      }
    }

    &.violence {
      bottom: 34%;
      .txt::before {
        content: 'violence';
      }
      &.violence-1 {
      z-index: 2;
      left: 0;
      transform: scaleX(-1) rotate(49deg);
        .txt {
          color: yellow;
        }
      }
      &.violence-2 {
        z-index: 1;
        right: 0px;
        transform: rotate(49deg);
        .txt {
          color: teal;
        }
      }      
    }
    
    &.silence {
      bottom: 0;
      .txt::before {
        content: 'silence';
      }
      &.silence-1 {
        transform: scaleX(-1);
        .txt {
          color: #46C5D7;
        }
      }
      &.silence-2 {
        transform: scaleX(-1) rotate(180deg);
        .txt {
          color: #1B9CE2;
        }
      }
    }  
    // .gradient{
        // background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
        // position: absolute;
        // top: 0;
        // left:0;
        // width: 100%;
        // height:100%;
        // mix-blend-mode: multiply;
    // }    
  }
}

@keyframes glowIn {
  0% {
    filter: brightness(0%);
  }
  5% {
    filter: brightness(10%);
  }
  10% {
    filter: brightness(25%);
  }
  15% {
    filter: brightness(50%);
  }
  20% {
    filter: brightness(75%);
  }
  25% {
    filter: brightness(100%);
  }
  30% {
    filter: brightness(125%);
  }
  35% {
    filter: brightness(150%);
  }
  40% {
    filter: brightness(175%);
  }
  45% {
    filter: brightness(200%);
  }
  50% {
    filter: brightness(225%);
  }
  55% {
    filter: brightness(250%);
  }
  60% {
    filter: brightness(275%);
  }
  75% {
    filter: brightness(300%);
  }
  100% {
    filter: brightness(375%);
  }
}